<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>TP_iTerm_Restore</string>
    <key>CFBundleIdentifier</key>
    <string>com.teample.TP-iTerm-Restore</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>TP_iTerm_Restore가 iTerm2를 제어하여 tmux 세션을 복원합니다.</string>
    <key>NSAppleScriptEnabled</key>
    <true/>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
